@media screen and (max-width:799px){
    #wrap{
        width:100%;
        height:auto;
        /* overflow:hidden; */
        position:relative;
    }
    .popup {
        /* position:absolute; */
        /* width:600px;
        height:400px; */
        width:95%;
        height:50%;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        z-index:120;
        position:fixed;
        display:none;
        pointer-events: none;
    }
    .popup > iframe{
        width:80%;
        height:80%;
        z-index:130;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }
    .close{
        position:fixed;
        top:5%;
        right:5%;
        color:white;
        font-size:60px;
        z-index:3000;
        cursor:pointer;
        display:none;
    }
    .close:hover{
        animation:spin 1.2s;
    }
    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
    
        }
    }
    
    /* Wrap end line */
    
    
    .mask{
        width:100%;
        height:100%;
        position:absolute;
        left:0%;
        top:0;
        z-index:10;
        background-color: rgba(0, 0, 0, 0.5);
        display:none;
    }
    header{
        width: 100%;
        height:80px;
        margin:0 auto;
        /* background-color:#eee; */
        transition:all 0.5s
    }
    .headerContainer{
        width:100%;
        height:100%;
        margin:0 auto;
        display:flex;
        flex-flow:row wrap;
        /* background-color:#eee; */
        align-items: center;
        justify-content: space-between;
        position: relative;
        transition:all 0.5s;
    }
    .logo{
        width:25%;
        height:100%;
        /* background-color:white; */
        display:flex;
        justify-content:center;
        align-items: center;
        cursor: pointer;
    }
    .logo h3{
        color:white;
        font-size:23px;
    }
    nav{
        width:60%;
        height:100%;
        /* background-color:#eee; */
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-around;
        align-items: center;

    }
    nav > ul{
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        text-align: center;
    }
    nav > ul > li{
        height: 100%;
        float:left;
        display:block;
        font-size:25px;
        color:white;
        cursor: pointer;
    }
    .nav_Anc{
        display:block;
        text-align:center;
        padding:15px;
        color:white;
        font-size:20px;
        cursor:pointer;
    }
    
    .subAncNav{
        width:100%;
        height:100%;
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: black;
    }
    .subAncNav > ul{
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        text-align: center;
    }
    .subAncNav > ul > li{
        height: 100%;
        float:left;
        display:block;
        font-size:20px;
        color:white;
        cursor: pointer;
    }



    .subAncNav {
        width:100%;
        height:80px;
        position: absolute;
        top:-10%;
        left:0;
        transition: all 0.5s;
    }

    /* header end line */
    
    .slideZindex{
        z-index:-99;
        background-color:Red;
    }
    .wrap2Zindex{
        z-index:999;
        background-color:Red;
    }
    
    
    .slideWrap.animated{
        transition:0.6s ease-out
    }
    #slider{
        overflow:hidden;
        width:100%;
        height:480px;
        background-color:#888;
        position: relative;
    }
    #slider > div:not(.sliderImg,.sliderBar){
        width:50px;
        height:50px;
        /* background-color:#eee; */
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        display:flex;
        align-items: center;;
        justify-content: center;
        font-size:50px;
    }
    #slider > .prev{
        left:0;
        z-index:10;
        color:white;
        display:none;
    }
    
    #slider > .next{
        right:0%;
        z-index:10;
        color:white;
        display:none;
    }
    .prev > i ,.next > i{
        cursor: pointer;
        transition:all 0.3s;
    }
    .prev > i:hover{
        opacity:0.7;
    }
    .next > i:hover{
        opacity:0.7;

    }
    
    .sliderImg{
        width:100%;
        height:100%;
    }
    .slideWrap{
        height:100%;
        position:relative;
    }
    .slideWrap > .slide{
        float:left;
        display:flex;
        flex-flow:column-reverse wrap;
        justify-content: space-between;
        width:100vw;
        height:100%;
        position:relative;
        background-size:cover;
        background-position:center;
        z-index:2; 
    }
    .slide > .bgImg {
        width:100%;
        height:100%;
        position:absolute;
        z-index:-9;
        display:flex;
        justify-content: space-between;
    }
    .slide-1 .bgImg{
        background-color:#111;

    }
    .slide-2 .bgImg{
        background-color:black;

    }
    .slide-3 .bgImg{
        background-color:#111;

    }
    .slide-4 .bgImg{
        background-color:#111;

    }



    .bgImg img {
        width:100%;
        height:100%;
    }

    
    .left{
        width:95%;
        height:25%;
        /* margin:0 auto; */
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .leftDownText{
        width:100%;
        height:100%;
        display:flex;
        flex-flow:row nowrap;
        justify-content: flex-start;
        align-items: center;;
    }
    .leftDownText > div{
        width:80px;
        height:80px;
        /* width:18%;
        height:100%; */
        border:1px solid white;
        box-sizing: border-box;
        background-size:cover;
        background-position:center;    
        cursor:pointer;
        margin-right:5px;
    }

    .leftDownText1 > div:nth-of-type(1){
        background-image: url(../img/banner_1-1.jpg);
    }
    .leftDownText1 > div:nth-of-type(2){
        background-image: url(../img/banner_1-2.jpg);

    }
    .leftDownText1 > div:nth-of-type(3){
        background-image: url(../img/banner_1-3.jpg);

    }
    .leftDownText1 > div:nth-of-type(4){
        background-image: url(../img/banner_1-4.jpg);

    }
    .leftDownText1 > div:nth-of-type(5){
        border:none
    }
    .leftDownText1 > div:nth-of-type(6){
        border:none
    }
    

    .leftDownText2 > div:nth-of-type(1){
        background-image: url(../img/banner_2-1.jpg);
    }
    .leftDownText2 > div:nth-of-type(2){
        background-image: url(../img/banner_2-4.jpg);
    }
    .leftDownText2 > div:nth-of-type(3){
        background-image: url(../img/banner_2-3.jpg);

    }
    .leftDownText2 > div:nth-of-type(4){
        background-image: url(../img/banner_2-5.jpg);

    }
    .leftDownText2 > div:nth-of-type(5){
        border:none

    }
    .leftDownText2 > div:nth-of-type(6){
        border:none
    }



    .leftDownText3 > div:nth-of-type(1){
        background-image: url(../img/banner_3-1.jpg);
    }
    .leftDownText3 > div:nth-of-type(2){
        background-image: url(../img/banner_3-2.jpg);

    }
    .leftDownText3 > div:nth-of-type(3){
        background-image: url(../img/banner_3-3.jpg);

    }
    .leftDownText3 > div:nth-of-type(4){
        background-image: url(../img/banner_3-4.jpg);

    }
    .leftDownText3 > div:nth-of-type(5){
        background-image: url(../img/banner_3-5.jpg);

    }
    .leftDownText3 > div:nth-of-type(6){
        background-image: url(../img/banner_3-6.jpg);
    }




    .leftDownText4 > div:nth-of-type(1){
        background-image: url(../img/banner_4-1.jpg);
    }
    .leftDownText4 > div:nth-of-type(2){
        background-image: url(../img/banner_4-2.jpg);

    }
    .leftDownText4 > div:nth-of-type(3){
        background-image: url(../img/banner_4-3.jpg);

    }
    .leftDownText4 > div:nth-of-type(4){
        background-image: url(../img/banner_4-4.jpg);

    }
    .leftDownText4 > div:nth-of-type(5){
        background-image: url(../img/banner_4-5.png);

    }
    .leftDownText4 > div:nth-of-type(6){
        background-image: url(../img/banner_4-6.png);
    }


    .right{
        width:100%;
        height:50%;
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        display:none;
    }
    .rightUpVideo{
        width: 35%;
        height:40%;
    }
    .rightDownText{
        width: 50%;
        height:40%;
        background-color:rgb(179, 179, 179);
        border:2px solid #eee;
        border-radius: 8px;
        display:flex;
        flex-flow:column wrap;
        justify-content: space-evenly;
        align-items: center;
        overflow:hidden;
    }
    .rightDownText > h2{
        font-size:20px;
    }
    .rightDownText > p{
        width:90%;
        height:50%;
        overflow: hidden;
        font-weight: normal;
    }
    .sliderBar{
        position:absolute;
        /* width:35%; */
        width:600px;
        height:50px;
        bottom:0%;
        left:50%;
        transform: translate(-50%);
        background-color:rgba(0,0,0,0.5);
        padding:0;
        overflow:hidden;
        box-sizing: border-box;
        z-index:10;
    }
    .sliderBar > div{
        position: absolute;;
        top:-50%;
        width:100%;
        box-sizing: border-box;
        height:100%;
        border-bottom:2px solid cyan;
    }
    .sliderBar > span{
        box-sizing: border-box;
        width:150px;
        height:0%;
        border-top:2px solid red;
        border-bottom:2px solid red;
        position:absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
    
    }
    
    /* slider end line */
    
    main{
        width:100%;
        /* height:7000px; */
        height:auto;
        margin-top:100px;
        position: relative;
    }
    .mainWrap{
        width:100%;
        height:auto;
        position: relative;
    }
    .searchBox{
        width:100%;
        height:55px;
        margin:0 auto;
        text-align: center;
        display:flex;
        justify-content:space-around;
        align-items: center;
        background-color:#eee;
        position:sticky;;
        z-index:90;
        top:0;
        margin-bottom: 150px;
    }
    .categoryHold{
        background-color: #777;
    }
    .category{
        width:100%;
        margin-right:0px;
    }
    .category > ul {
        width:100%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .category > ul > li{
        float:left;
        color:White;
        /* padding:5px; */
        cursor: pointer;
        position: relative;
        /* margin-left:10px; */
        width:auto;
        height:auto;
        padding:10px 30px;
    }
    .category > ul > li:nth-of-type(5) , .category > ul > li:nth-of-type(6) , .category > ul > li:nth-of-type(7) {
        display:none;
    }
    .category li:hover{
        background-color:#777;
    }
    
    .category li > .categorySub{
        width:100%;
        height:auto;
        background-color:#eee;
        position: absolute;
        top:100%;
        left:0;
    }
    .categorySub ul {
        width:100%;
        heighT:100%;
        text-align:left;
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        display:none;

    }
    .categorySub ul li{
        width:100%;
        color:black;
        line-height:40px;
        
    }
    form{
        display:none;
        width:204px;
        height:34px;
        position: relative;
    }
    input{
        width:200px;
        height:30px;
        text-align:center;
        border:none;
    }
    input:focus{
        outline:none;
    }
    
    
    input::placeholder{
        text-align: center;
    }
    
    .btnSearch{
        font-weight : 900;
        font-family: "Font Awesome 5 Free";
        background-color : transparent;
        border : none;
        cursor : pointer;
        position : absolute;
        right : 5px;
        top : 50%;
        font-size:20px;
        transform : translatey(-50%);
    }
    .btnSearch::before{
        content : "\f002"
    }
    
    .btnCategory{
        font-weight : 900;
        font-family: "Font Awesome 5 Free";
        background-color : transparent;
        border : none;
        cursor : pointer;
        position : absolute;
        left : 5px;
        top : 50%;
        transform : translatey(-50%);
        font-size:30px;
    }
    .btnCategory::before{
        content : "\f039"
    }
    
    .firstMainHead{
        width:100%;
        height:30px;
        text-align:center;
        color:white;
        margin:50px auto;
    }
    .firstMainHead > h2{
        text-align:left;
        margin-left:50px;
    }
    .firstImgWrap{
        width:100%;
        height:100%;
    }
    
    .imgWrap1{
        width:100%;
        height:700px;
        margin:0 auto;
        display:flex;
        flex-flow:row wrap;
        justify-content: space-around;
        align-items: center;
    }

        
    .imgWrap1 > div{
        width:45%;
        height:300px;
        /* border: 3px solid #eee; */
        box-sizing: border-box;
        position:relative;
        overflow:hidden;
        transition: all 0.3s;
        background-image:url(../img/section-4.png);
        background-size:cover;
        background-position:center;
    }

    .action > div:nth-of-type(1){
        background-image:url(../img/action-1.jpg)
    }
    .action > div:nth-of-type(2){
        background-image:url(../img/action-2.png)
    }
    .action > div:nth-of-type(3){
        background-image:url(../img/action-3.png)
    }
    .action > div:nth-of-type(4){
        background-image:url(../img/action-4.jpg)
    }
    
    .action .imgUp1{
        background-image: url(../img/actionSub1.jpg);
    }
    .action .imgUp2{
        background-image: url(../img/actionSub2.jpg);
    }
    .action .imgUp3{
        background-image: url(../img/actionSub3.jpg);
    }
    .action .imgUp4{
        background-image: url(../img/actionSub4.jpg);
    }
    
    

    .story > div:nth-of-type(1){
        background-image: url(../img/Story1.jpg);
    }
    .story > div:nth-of-type(2){
        background-image: url(../img/Story2.jpg);
    }
    .story > div:nth-of-type(3){
        background-image: url(../img/Story3.jpg);
    }
    .story > div:nth-of-type(4){
        background-image: url(../img/Story4.jpg);
    }
    .story .imgUp1{
        background-image:url(../img/StorySub1.jpg)
    }
    .story .imgUp2{
        background-image:url(../img/StorySub2.jpg)
    }
    .story .imgUp3{
        background-image:url(../img/StorySub3.jpg)
    }
    .story .imgUp4{
        background-image:url(../img/StorySub4.jpg)
    }
    
    
    

    .casual > div:nth-of-type(1){
        background-image:url(../img/Casual1.jpg)
    }
    .casual > div:nth-of-type(2){
        background-image:url(../img/Casual2.png)
    }
    .casual > div:nth-of-type(3){
        background-image:url(../img/Casual3.jpg)
    }
    .casual > div:nth-of-type(4){
        background-image:url(../img/Casual4.jpg)
    }
    
    .casual .imgUp1{
        background-image:url(../img/CasualSub1.jpg)
    }
    .casual .imgUp2{
        background-image:url(../img/CasualSub2.png)
    }
    .casual .imgUp3{
        background-image:url(../img/CasualSub3.jpg)
    }
    .casual .imgUp4{
        background-image:url(../img/CasualSub4.png)
    }
    

    .fantasy > div:nth-of-type(1){
        background-image:url(../img/Fantasy1.jpg)
    }
    .fantasy > div:nth-of-type(2){
        background-image:url(../img/Fantasy2.jpg)
    }
    .fantasy > div:nth-of-type(3){
        background-image:url(../img/Fantasy3.jpg)
    }
    .fantasy > div:nth-of-type(4){
        background-image:url(../img/Fantasy4.jpg)
    }
    
    .fantasy .imgUp1{
        background-image:url(../img/FantasySub1.jpg)
    }
    .fantasy .imgUp2{
        background-image:url(../img/FantasySub2.jpg)
    }
    .fantasy .imgUp3{
        background-image:url(../img/FantasySub3.jpg)
    }
    .fantasy .imgUp4{
        background-image:url(../img/FantasySub4.jpg)
    }

    .downPrice{
        position:absolute;
        width:100px;
        height:30px;
        bottom:0%;
        right:0%;
        background-color:#eee;
        border-top:1px solid black;
        border-left:1px solid black;
        border-bottom:1px solid black;
        display:flex;
        box-sizing: border-box;
    }
    .persent {
        width:40%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:12px;
    }
    .price{
        width:60%;
        display:flex;
        align-items: center;
        justify-content: center;
        border-left:1px solid black;
        font-size:12px;
    }
    .imgWrap1 > div  .imgUp{
        width:100%;
        height:45%;
        background-size:cover;
        background-position:center;
        /* background-Image:url(../img/section-1.jpg); */
        position:relative;
        transition:all 0.5s;
    }
    .videoPlay{
        width:40px;
        height:40px;
        background-color:white;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position:absolute;
        cursor: pointer;
        border-radius: 50%;
    }
    .videoPlay > i{
        font-size:20px;
        color:black;
        position:absolute;
        transform: translate(-50%,-50%);
        top:50%;
        lefT:50%;
        cursor: pointer;
    }
    .imgWrap1 > div  .imgDown{
        width:100%;
        height:55%;
        overflow: hidden;
        display:flex;
        align-items: center;
    }
    
    
    
    .imgText{
        margin:0 auto;
        width:90%;
        height:90%;
        display:flex;
        flex-flow:column wrap;
        align-items: flex-start;
        position: relative;
    }
    .imgText > h3{
        width:100%;
        font-size:20px;
    }
    .imgText > button{
        padding:5px 20px;
        position: absolute;
        bottom:0;
        font-weight:bold;
        border:none;
        background-color: #777;
        color:white;
        cursor: pointer;
        box-sizing: border-box;
        transition: all 0.2s;
    }
    .imgText > p {
        font-size:14px;
    }
    .imgText > button:hover{
        background-color: inherit;
        color:black;
        border:2px solid;
    }
    
    .videoAndimg{
        width: 100%;
        height:100%;
        /* height:0%; */
        background-color: #eee;
        position:absolute;
        top:101%;
        transition: all 0.6s;
    }
    
    
    
    
    .imgWrap2{
        width:100%;
        height:auto;
        margin-top:150px;
    }
    .wrap2Head{
        width:100%;
        height:30px;
        text-align:center;
        color:white;
        margin:50px auto;
    }
    .wrap2Head > h2{
        text-align:left;
        margin-left:50px;
    }
    
    
    .dlc{
        width:100%;
        height:500px;
        margin:0 auto;
    }
    .dlcScreen{
        position:relative;;
        width:100%;
        height:100%;
        overflow: hidden;
        margin:auto;

    }
    .dlcSlide{
        position: absolute;
        width:180px;
        height:50%;
        margin-left:25px;
        margin-right:25px;
        border:1px solid #eee;
        overflow:hidden;
    }
    
    .dlcSlide > div{
        height:100%;
        width:100%;
        background:linear-gradient(180deg,)
        /* 밑은 검은색 바탕 위는 opacity로 흰색 */
    }
    .dlcScreen > li:not(:last-child){
        margin-right:20px;
    }
    .dlcScreen.animated{
        transition:all 4.0s
    }
    .dlcScreen > li{
        background-size:cover;
        background-position:center;
    }
    
    .dlcAction > li:nth-of-type(1){
        background-image:url(../img/dlcSlide_1.jpg)
    }
    
    .dlcAction > li:nth-of-type(2){
        background-image:url(../img/dlcSlide_2.jpg);
        background-position:left center;

    }
    .dlcAction > li:nth-of-type(3){
        background-image:url(../img/dlcSlide_3.jpg)
    }
    .dlcAction > li:nth-of-type(4){
        background-image:url(../img/dlcSlide_4.png);
    }
    .dlcAction > li:nth-of-type(5){
        background-image:url(../img/dlcSlide_5.jpg);
        background-position:center;
    }
    .dlcAction > li:nth-of-type(6){
        background-image:url(../img/dlcSlide_6.jpg)
    }
    
    .dlcAction > li:nth-of-type(7){
        background-image:url(../img/dlcSlide_7.jpg)
    }
    
    .dlcAction > li:nth-of-type(8){
        background-image:url(../img/dlcSlide_8.jpg)
    }
    .imgWrap3{
        widtH:100%;
        height:2500px;
        overflow:hidden;
    }
    
    .wrap3Head{
        width:100%;
        height:30px;
        text-align:center;
        color:white;
        margin:0 auto;
    }
    .wrap3Head > h2{
        text-align:left;
        margin-left:50px;
    }
    .slideRight{
        width: 100%;
        height:100%;
        margin:0 auto;
        position:relative;
        overflow:hidden;
    }
    .slideRight > div {
        width:55%;
        height:330px;
        background-color:#eee;
        position:absolute;
        right:-50%;
        background-size:cover;
        background-position:center
        /* transform: translateX(500%); */
    }
    
    .slideRight > h4,.slideRight > p{
        displaY:none;
        font-size:13px;
    }
    
    
    .slideRight > h4{
        position:absolute;
        text-align: center;
        width:40%;
        height:400px;
        color:white;
        font-size:18px;
    }
    
    
    
    
    .slideRight > h4:nth-of-type(1){
        top:5%;
        right:0%;
        transform: translateX(-00%);
    }
    .slideRight > h4:nth-of-type(2){
        top:30%;
        left:0%;
        transform: translateX(0%);
    }
    .slideRight > h4:nth-of-type(3){
        top:55%;
        right:0%;
        transform: translateX(-0%);
    }
    .slideRight > h4:nth-of-type(4){
        top:80%;
        left:0%;
        transform: translateX(0%);
    }
    
    .slideRight > p{
        position:absolute;
        text-align: center;
        width:40%;
        height:240px;
        line-height: 30px;;
        color:white;
        overflow: hidden;
    }
    
    .slideRight > p:nth-of-type(1){
        top:8%;
        right:0%;
        transform: translateX(-00%);
    }
    .slideRight > p:nth-of-type(2){
        top:33%;
        left:0%;
        transform: translateX(0%);
    }
    .slideRight > p:nth-of-type(3){
        top:58%;
        right:0%;
        transform: translateX(-00%);
    }
    .slideRight > p:nth-of-type(4){
        top:83%;
        left:0%;
        transform: translateX(0%);
    }
    
    
    
    .slideRight > div:nth-of-type(1){
        transform: translateX(0);
        transition: all 2.5s;
        top:5%;
    }
    .slideRight > div:nth-of-type(2){
        top:30%;
        transition: all 1.0s;
    }
    .slideRight > div:nth-of-type(3){
        transform: translateX(0%);
        transition: all 2.5s;
        top:55%;
    }
    .slideRight > div:nth-of-type(4){
        top:80%;
        transition: all 1.0s;
    }
    
    
    .slideAction> div:nth-of-type(1){
        background-image:url(../img/slideRight1.jpg)
    
    }
    .slideAction> div:nth-of-type(2){
        background-image:url(../img/slideRight2.jpg)

    
    }
    .slideAction> div:nth-of-type(3){
        background-image:url(../img/slideRight3.jpg)

    
    }
    .slideAction> div:nth-of-type(4){
        background-image:url(../img/slideRight4.jpg)
    }
    
    
    
    
    
    .slideStory > div:nth-of-type(1){
        background-image:url(../img/storySlide_1.jpg);

    }
    .slideStory > div:nth-of-type(2){
        background-image:url(../img/storySlide_2.jpg);

    }
    .slideStory > div:nth-of-type(3){
        background-image:url(../img/storySlide_3.jpg);

    }
    .slideStory > div:nth-of-type(4){
        background-image:url(../img/storySlide_4.jpg);
    }
  
    

    .slideCasual > div:nth-of-type(1){
        background-image:url(../img/CasualSlide_1.jpg);
    }
    .slideCasual > div:nth-of-type(2){
        background-image:url(../img/CasualSlide_2.jpg);

    }
    .slideCasual > div:nth-of-type(3){
        background-image:url(../img/CasualSlide_3.jpg);

    }
    .slideCasual > div:nth-of-type(4){
        background-image:url(../img/CasualSlide_4.jpg);
    }



    .slideFantasy > div:nth-of-type(1){
        background-image:url(../img/fantasySlide_1.jpg);

    }
    .slideFantasy > div:nth-of-type(2){
        background-image:url(../img/fantasySlide_2.jpg);

    }
    .slideFantasy > div:nth-of-type(3){
        background-image:url(../img/fantasySlide_3.jpeg);

    }
    .slideFantasy > div:nth-of-type(4){
        background-image:url(../img/fantasySlide_4.jpg);
    }
    
        /* transition:all 8.0s */
    
    
    /* main end line */
    
        
    footer{
        width:100%;
        height:auto;
        border-top:3px solid white;
    }
    
    .footWrap{
        width:100%;
        height:100px;
        margin:0 auto;
        display:flex;
        flex-flow:row wrap;
        /* background-color:#eee; */
        align-items: center;
        justify-content: space-between;
    }
    
    .foot_logo{
        width:30%;
        height:100%;
        /* background-color:white; */
        display:flex;
        justify-content:center;
        align-items: center;
        color:white;
        font-size:30px;
        cursor:pointer
    }
    
    
    .ant_txt{
        width:50%;
        height:100%;
        /* background-color:#eee; */
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .ant_txt > ul{
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        text-align: center;
    }
    .ant_txt > ul > li{
        height: 100%;
        float:left;
        display:block;
        color:White;
        font-size:20px;
        cursor:pointer
    }
    
    
    /* footer end line */
}
